<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js" ></script>
<script >
    window.onload=function(){
        var inputTypeElem = document.getElementById('<%= id_in %>');
        var outputTypeElem = document.getElementById('<%= id_out %>');
        function render() {
            outputTypeElem.innerHTML = marked(inputTypeElem.value);
            MathJax.Hub.Queue(["Typeset",MathJax.Hub]);
        }
        $(document).delegate('#<%= id_in %>', 'keyup', function (e) { //inputTypeElem.addEventListener('keyup', handleInputChange);
            var keyCode = e.keyCode || e.which;
            if (keyCode == 13 || keyCode == 8) { // http://gcctech.org/csc/javascript/javascript_keycodes.htm
                render();
            }
        });
        render(); // loading upon entry if needed
    }
</script>